.profile__button_decor_horizont {
   display: inline-block;
   width: 22px;
   height: 2px;
   background: #fff;
   transform: translate(-11px, 0);
 }
 @media (max-width: 700px) {
   .profile__button_decor_horizont {
     width: 16px;
     transform: translate(-8px, 0);
   }
 }