.profile__button_decor_vertical {
   display: inline-block;
   width: 22px;
   height: 2px;
   background: #fff;
   transform: rotate(90deg) translate(0, -11px);
 }
 @media (max-width: 700px) {
   .profile__button_decor_vertical {
     width: 16px;
     transform: rotate(90deg) translate(0, -8px);
   }
 }